.zoom-controls {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    width: 2rem;
    padding: 3px;
    align-items: center;
    background-color: #f0f0f0;
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 10px;

    z-index: 100;
}

.zoom-controls p {
    margin: 4px 0;
    font-size: 0.8rem;
    font-weight: bold;
}

.zoom-controls__button {
    outline: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.zoom-controls__button:hover {
    background-color: #d0d0d0;
}