.color-picker {
    position: fixed;
    padding: 0 1rem 0rem 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    top: 1rem;
    right: 310px
}

.color-picker input {
    margin: 1rem auto;
    display: flex;
}

.color-picker label {
    font-weight: 600;
    letter-spacing: -0.5px;
}

@media (width: 500px) {
.color-picker {
    top: 310px;
    right: 1rem;
  }
}