.toolbar {
    position: fixed;
    top: 2rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    width: 2rem;
    align-items: center;
    padding: 8px;
    background-color: #f0f0f0;
    border: 2px solid #000;
    border-radius: 20px;

    z-index: 100;
}

.toolbar__button {
    outline: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.toolbar__button:hover {
    background-color: #d0d0d0;
}