.node {
    position: absolute;
    display: "flex",
}

.node textarea {
    text-align: center;
    flex: 1;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    background: transparent;
    font-family: inherit;
}